* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

.contenedor-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.tarjeta {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 6px;
  width: 260px;
  background-color: white;
}

.vehiculo-permanente {
  border-left: 6px solid mediumvioletred;
  background-color: #fff0f5;
}

.vehiculo-temporal {
  border-left: 6px solid royalblue;
  background-color: #f0f8ff;
}